*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dongle', sans-serif;
    font-family: 'Fuzzy Bubbles', cursive;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --color-red: #DA1212;
}

.header{
    box-shadow: 0 10px 15px 2px rgba(0, 0, 0, .2);
}
.logo{
    color: var(--color-red) !important;
    font-size: 1.8rem;
}
.get-started{
    border-radius: 20px;
    font-size: .92rem;
}
.navbar-nav .nav-link{
    position: relative;
    font-size: .98rem;
}
.navbar-nav .nav-link::after{
    position: absolute;
    content: "";
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 0;
    height: 2px;
    background-color: var(--color-red);
    transition: .2s ease-out;
}
.navbar-nav .nav-link:hover::after{
    width: 60%;
}

/* hero styles */
.hero{
    width: 100%;
    min-height: 90vh;
    background: url('images/hero.jpg') fixed center no-repeat;
    background-size: cover;
}
.desc-hero{
    width: 50%;
    line-height: 1.6;
}

/* about style */
.fa-check-circle{
    font-size: 1.3rem;
}

/* counts style */
.counts .counter{
    font-size: 2.3rem;
    color: var(--color-red);
}

/* why-us styles */
.why-us .content{
    border-radius: 50px 5px;
    background: linear-gradient(40deg, #c31432,#240b36);
}
.why-us .content p{
    font-size: .9rem;
}
.why-us .content .btn-more{
    font-size: .9rem;
    border-radius: 20px;
    border: 2px solid #fff;
    transition: .3s ease-out;
}
.why-us .content .btn-more:hover{
    background-color: #fff;
    color: #000 !important;
}
.items-why .icon-box{
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: .2s ease-out;
}
.items-why .icon-box:hover{
    box-shadow: 0 10px 20px 3px rgba(0, 0, 0, .1);
}
.items-why .icon-box .fa{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    background-color: #eee;
    font-size: 1.6rem;
    color: var(--color-red);
}
.items-why .icon-box p{
    font-size: 15px;
}

/* popular-courses styles */
.course img{
    max-width: 100%;
}
.course-item{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .2);
}
.title-popular-course{
    position: relative;
}
.title-popular-course::after{
    position: absolute;
    content: "";
    width: 10%;
    height: 2px;
    background-color: var(--color-red);
    bottom: 0;
    left: 50%;
}
.category-course{
    background-color: var(--color-red);
    border-radius: 20px;
    font-size: .9rem;
}
.title-course{
    font-size: 1.26rem;
}
.price-course{
    font-size: 1.2rem;
}
.trainer-info img{
    max-width: 50px;
}

/* trainers styles */
.trainers{
    background: url('images/bg-trainers.jpg') no-repeat center fixed;
    background-size: cover;
    position: relative;
}
.trainers::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
}
.member{
    border-radius: 20px;
    overflow: hidden;
}
.member .socials .fab{
    font-size: 1.2rem;
    transition: .4s ease-out;
}
.member .fab:hover{
    color: var(--color-red) !important;
}


/* footer styles */
.footer-content p{
    line-height: 1.8;
}
.footer-links h4,
.footer-newsletter h4{
    font-size: 1rem;
}
.footer-newsletter p{
    font-size: .96rem;
}
.footer-links ul li .fa-chevron-right{
    font-size: .8rem;
}
.footer-links ul li a{
    transition: .3s ease-out;
    font-size: .86rem;
}
.footer-links ul li a:hover{
    color: var(--color-red) !important;
}
.footer-newsletter form{
    position: relative;
}
.footer-newsletter form input{
    border-radius: 20px;
    outline: none !important;
}
.footer-newsletter form input[type="submit"]{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: var(--color-red);
    border: none;
    cursor: pointer;
}
.copyright,
.credits{
    font-size: .83rem;
}
.credits a{
    color: var(--color-red) !important;
}
.social-links a .fab{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-red);
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    line-height: 28px;
}


/* ===== courses page ===== */
.main{
    margin-top: 7rem;
}
.breadcrumb{
    background: linear-gradient(40deg, #c31432,#240b36);
}

/* ===== trainers page ===== */
.trainers-page{
    background-color: #fff !important;
}

/* ===== pricing page ===== */
.box .card{
    position: relative;
    overflow: hidden;
}
.box .card .advanced{
    position: absolute;
    text-align: center;
    width: 200px;
    top: 20px;
    right: -68px;
    background-color: var(--color-red);
    opacity: .8;
    transform: rotate(45deg);
}
.box .card-body h4{
    color: var(--color-red);
    font-weight: bold;
}
.box .card-body ul li{
    font-size: .9rem;
}
.box .card-footer a{
    border-radius: 20px;
    background-color: var(--color-red);
    font-size: .9rem;
}
.box .card-header.featured{
    background-color: var(--color-red);
}

/* ===== contact page ===== */
.info-contact .icon-contact{
    width: 40px;
    height: 40px;
    background-color: #ddd;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background-color: var(--color-red);
    color: #fff;
    font-size: 1.2rem;
}
.submit-form{
    border-radius: 20px;
    background-color: var(--color-red) !important;
    cursor: pointer;
}


@media screen and (max-width:991.98px) {
    .navbar-nav .nav-link::after{
        left: 0;
        transform: translateX(0);
    }
    .navbar-nav .nav-link:hover::after{
        width: 8%;
    }
    .title-hero{
        font-size: 1.8rem;
    }
    .desc-hero{
       font-size: 1.2rem;
    }
}

@media screen and (max-width: 767.98px) {
    .breadcrumb h2{
        font-size: 1.4rem;
    }
    .contact-content h5{
        font-size: 1rem;
    }
    .contact-content p{
        font-size: .9rem;
    }
    input::placeholder,
    textarea::placeholder{
        font-size: .9rem;
    }
    .footer-content p{
        font-size: .9rem;
    }
}

@media screen and (max-width:575.98px) {
    .title-hero{
        font-size: 1.5rem;
    }
    .desc-hero{
        font-size: 1rem;
        width: 90%;
    }
    .logo{
        font-size: 1.3rem;
    }
    .text-about h4{
        font-size: 1.1rem;
    }
    .text-about p{
        font-size: .95rem;
    }
    .text-about ul li{
        font-size: .9rem;
    }
}

@media screen and (max-width:300px) {
    .hero{
        padding-top: 5rem;
    }
}
